<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="Car" name="Car" class="com.vehicle.Car">
		<property name="wheelType" ref="Wheel" />
		</bean>
<bean id="Wheel" name="Wheel" class="com.vehicle.Wheel">
	<!-- <property name="wheelType" value="""/> -->
	<constructor-arg type="String" value="LeftFront"></constructor-arg>
</bean>
</beans>
					